.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

application/config/*

!application/config/index.html
!application/config/routes.php
!application/config/autoload.php
!application/config/constants.php
!application/config/mimes.php
!application/config/database.php
!application/config/foreign_chars.php
!application/config/user_agents.php
!application/config/migration.php
!application/config/profiler.php
!application/config/hooks.php
!application/config/doctypes.php
!application/config/smileys.php
!application/config/memcached.php


application/libraries/

.env

*.bak
*.tmp
*.sqlite
*.sql

composer.lock
tests/mocks/database/ci_test.sqlite

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
